{% extends 'bases/main.html' %}

{% block title %}
About
{% endblock %}

{% block body %}
<main>
    <div class="background">
        <div class="content">
            <h2 class="label"><b>Start</b></h2>
            <p>
                Hello, I'm Max aka merive_, I'm programmer.
                I write on Python, Java, HTML/CSS, C/Assembler, etc.
                I don’t remember how it all began, but I came to programming in the summer of 2019, then I began to
                study Python...
            </p>
            <h2 class="label"><b>Python</b></h2>
            <p>
                Python is good language, simple, powerful and cool syntax.
                I started writing Python code in June 2019.
                Now, I know more 15 libraries, I write code on this language everyday.
                I was not wrong with the choice then.
            </p>
            <h2 class="label"><b>HTML/CSS</b></h2>
            <p>
                HTML and CSS is a hard for me.
                I am more of a mathematician than an artist.
                I started learning HTML and CSS in August, 2019.
                You can seeing my work on HTML/CSS.
                I hope, you like it.
            </p>
            <h2 class="label"><b>Java</b></h2>
            <p>
                Java is a cool language.
                Powerful, Interesting, Understandable.
                I started learning Java in January 2020.
                Now, I do more cool things on this language (Android apps, Software and much more)
            </p>
            <h2 class="label"><b>Linux & Bash</b></h2>
            <p>
                I met with Linux in October, 2020.
                Now, Linux Distributions is most liked OS.
                I like privacy, freedom and all advantages of Linux.
                And Linux Bash is cool thing for programmer.
            </p>
            <h2 class="label"><b>C/Assembler</b></h2>
            <p>
                I started study C/Assembler as cool theme for ethnic hacking in November, 2020.
                C/Assembler is hard languages, but interesting.
                I little write on this languages, but I think to do cool programs on C/Assembler.
            </p>
            <h2 class="label"><b>Now</b></h2>
            <p>
                Now, Programming is part of my life.
                Everyday I write code, this is my hobby, my work and narcotic.
                I will be make cool things, study more theme, languages.
                I like code and all and all the related things with him.
            </p>
        </div>
    </div>
</main>

<style>
    main {
        display: flex;
        flex-direction: column;

        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 0.75em;
    }

    .background {
        border: black solid 5px;
        border-radius: 10px;
        background: #333;
    }

    .content {
        color: #218b5f;
        margin: 0.5em 0.5em 0.5em 0.5em;
    }

    p {
        font-size: 1.5em;
        color: #218b5f;
    }

    a {
        font-family: 'Orbitron', sans-serif;
        color: #218b5f;
        text-decoration: none;
    }

    a:hover {
        color: #218b5f;
        text-decoration: none;
    }

    a:active {
        color: #000;
        text-decoration: none;
    }

    .label {
        font-family: 'Orbitron', sans-serif;
    }
</style>
{% endblock %}