{% extends 'bases/main.html' %}

{% block title %}
Error {{ error_code }}
{% endblock %}

{% block body %}
<main>
    <div class="background">
        <div class="content">
            <p>
                Something went wrong, <b>{{ error_code }}</b>.
                <br>Try again or Return on Main Page.
                <br>¯\_(ツ)_/¯
            </p>
        </div>
    </div>
</main>

<style>
    main {
        font-family: 'Orbitron', sans-serif;
        color: black;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 6%;
        height: 90%;
    }

    p {
        font-size: 2em;
        text-align: center;
        vertical-align: middle;

        color: #218b5f;
    }

    .background {
        border: black solid 5px;
        border-radius: 10px;
        background: #333;
    }

    .content {
        color: #218b5f;
        margin: 1.5em;
    }
</style>
{% endblock %}