{% extends 'bases/main.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}
<main>
    <div class="background">
        <div class="content">
            <p>
                Welcome to <b>merive_</b>'s site.
                <br>There you can discover about me, my projects and much more.
                <br>Explore!
            </p>
        </div>
    </div>
</main>

<style>
    main {
        font-family: 'Orbitron', sans-serif;
        color: black;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5%;
        height: 90%;
    }

    p {
        font-size: 2em;
        text-align: center;
        vertical-align: middle;

        color: #218b5f;
    }

    .background {
        border: black solid 5px;
        border-radius: 10px;
        background: #333;
    }

    .content {
        color: #218b5f;
        margin: 1.5em;
    }
</style>
{% endblock %}