{% extends 'bases/base.html' %}

{% block title %}
Links
{% endblock %}

{% block body %}
<style>
    main {
        display: flex;
        flex-direction: column;

        padding-left: 10%;
        padding-right: 10%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    p {
        font-size: 1.5em;
        color: #111;
    }

    a {
        font-family: 'Orbitron', sans-serif;
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: #111;
        text-decoration: none;
    }

</style>

<main>
    <h2>
        <b>
            <a href="https://github.com/merive">My GitHub</a>
        </b>
    </h2>
    <p>
        In my GitHub, I work on my designs.
        I make changes every day and try not to abandon my projects.
        You can learn more about my projects on the <b><a href="/projects">My Projects page</a></b>.
    </p>
    <h2>
        <b>
            <a href="https://twitter.com/merive_">My Twitter</a>
        </b>
    </h2>
    <p>
        This is my mini blog.
        In it, I tell what is happening in my life and what I do.
        I often tweet.
    </p>
    <h2>
        <b>
            <a href="https://www.reddit.com/user/merive_">My Reddit</a>
        </b>
    </h2>
    <p>
        This is my another blog.
        In it, I talk about projects that I am currently working on or have already done.
        So far, I rarely do posts.
    </p>
</main>
{% endblock %}