{% extends 'bases/main.html' %}

{% block title %}
Links
{% endblock %}

{% block body %}
<main>
    <div class="background">
        <div class="content">
            <h2>
                <b>
                    <a href="https://github.com/merive">My GitHub</a>
                </b>
            </h2>
            <p>
                In my GitHub, I work on my projects.
                I make changes in repositories every day and try not to leave my projects.
                You can learn more about my projects on the <a href="/projects">My Projects page</a>.
            </p>

            <h2>
                <b>
                    <a href="https://twitter.com/merive_">My Twitter</a>
                </b>
            </h2>
            <p>
                This is my mini blog.
                In it, I tell what is happening in my life and what I do.
                I often tweet.
            </p>

            <h2>
                <b>
                    <a href="https://www.reddit.com/user/merive_">My Reddit</a>
                </b>
            </h2>
            <p>
                This is my another blog.
                In it, I talk about projects that I am currently working on or have already done.
                So far, I rarely do posts.
            </p>

            <h2>
                <b>
                    <a href="https://stackoverflow.com/users/11937776/merive">My StackOverflow</a>
                </b>
            </h2>
            <p>
                This is my StackOverflow account, I rarely help many peoples.
                I'm active user of community.
            </p>

            <h2>
                <b>
                    <a href="https://www.codewars.com/users/merive_">My CodeWars</a>
                </b>
            </h2>
            <p>
                On CodeWars, I like solve interesting tasks.
                I'm rarely using this site for practice.
            </p>

            <h2>
                <b>
                    <a href="mailto:merive.work@gmail.com">My Email</a>
                </b>
            </h2>
            <p>
                This is my work email.
                You can write me with tips/offer, will be glad reply.
            </p>
        </div>
    </div>
</main>

<style>
    main {
        display: flex;
        flex-direction: column;

        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 0.75em;
    }

    .background {
        border: black solid 5px;
        border-radius: 10px;
        background: #333;
    }

    .content {
        color: #218b5f;
        margin: 0.5em 0.5em 0.5em 0.5em;
    }

    p {
        font-size: 1.5em;
        color: #218b5f;
    }

    a {
        font-family: 'Orbitron', sans-serif;
        color: #218b5f;
        text-decoration: none;
    }

    a:hover {
        color: #218b5f;
        text-decoration: none;
    }
</style>
{% endblock %}