{% extends 'bases/base.html' %}

{% block title %}
Projects
{% endblock %}

{% block body %}
<style>
    main {
        display: flex;
        flex-direction: column;

        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 1%;
    }

    p {
        font-size: 1.5em;
        color: #111;
    }

    a {
        font-family: 'Orbitron', sans-serif;
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: #111;
        text-decoration: none;
    }


</style>

<main>
    <h2>
        <b>
            <a href="https://github.com/merive/Parzibot">Parzibot</a>
        </b>
    </h2>
    <p>
        This is my first major project.
        Before this project name as AssistBOT, but recently I released global update for my bot.
        This bot have a lot of functions, few events and much more!
    </p>

    <h2>
        <b>
            <a href="/mtools">MTools</a>
        </b>
    </h2>
    <p>
        My major project in Java.
        In it, I collect my own set of utilities for different occasions.
        I try to develop it as a cool idea.
    </p>

    <h2>
        <b>
            <a href="https://github.com/merive/merive.com">merive.com</a>
        </b>
    </h2>
    <p>
        This is the project you are on.
        He is developing right now and will be developing with me.
        This is my personal site.
        On it you can get to know me better.
    </p>

    <h2>
        <b>
            <a href="/press1mtimes">Press 1M Times</a>
        </b>
    </h2>
    <p>
        Android Clicker-Game.
        A simple game in which the main task is to find out what happens after a million clicks on the red button...
        My first serious android app.
    </p>
</main>
{% endblock %}