{% extends 'bases/main.html' %}

{% block title %}
Projects
{% endblock %}

{% block body %}

<main>
    <div class="background">
        <div class="content">
            <h2>
                <b>
                    <a href="/Parzibot">Parzibot</a>
                </b>
            </h2>
            <p>
                My own Discord Bot.
                He has a lot of functions, events, error handlers, slash commands and much more!
                Parzibot often gets a lot of features
                He got even better.
            </p>

            <h2>
                <b>
                    <a href="/MTools">MTools</a>
                </b>
            </h2>
            <p>
                Project of various utilities.
                Unpretentious standard programs with an interesting design.
                The project recently received an cool major update.
                Utilities have been updated, a launcher has appeared and much more.
            </p>

            <h2>
                <b>
                    <a href="https://github.com/merive/merive-website">merive-website</a>
                </b>
            </h2>
            <p>
                This is the project you are on.
                He is developing right now and will be developing with me.
                This is my personal site.
                On it you can get to know me better.
            </p>

            <h2>
                <b>
                    <a href="/P1MT">Press1MTimes</a>
                </b>
            </h2>
            <p>
                A cool Android clicker with a cool design and features.
                A simple game in which the main task is to find out what happens after a million clicks on the red
                button...
                Good simple project.
            </p>

            <h2>
                <b>
                    <a href="/SecurePass">SecurePass</a>
                </b>
            </h2>
            <p>
                SecurePass is free open-source Password Manager.
                Just remember one key, using much passwords.
                Project is developing, adding new features.
                Cool application for your safety.
            </p>
        </div>
    </div>
</main>

<style>
    main {
        display: flex;
        flex-direction: column;

        padding-left: 7%;
        padding-right: 7%;
        padding-bottom: 0.75em;
    }

    .background {
        border: black solid 5px;
        border-radius: 10px;
        background: #333;
    }

    .content {
        color: #218b5f;
        margin: 0.5em 0.5em 0.5em 0.5em;
    }

    p {
        font-size: 1.5em;
        color: #218b5f;
    }

    a {
        font-family: 'Orbitron', sans-serif;
        color: #218b5f;
        text-decoration: none;
    }

    a:hover {
        color: #218b5f;
        text-decoration: none;
    }
</style>
{% endblock %}