{% extends 'bases/MTools.html' %}

{% block title %}
MTools
{% endblock %}

{% block body %}
<main>
    <div class="content">
        <p class="title">MTools</p>
        <p class="text">
            Free open-source utilities for any task.
            <br>Use all program for any tasks.
            <br>Note, Calculator, Mail, Time, RRC and much more...
        </p>
    </div>
</main>

<style>
    main {
        padding: 1%;
    }

    .content {
        text-align: center;
        padding: 1%;
    }

    .title {
        width: 100%;
        text-align: center;
        vertical-align: middle;
        padding-top: 5%;

        font-size: 4em;
        color: #BBE1FA;
    }

    .text {
        font-size: 2em;
        color: #BBE1FA;
        margin: 5% 5% 5% 5%;

        border: solid 2px #BBE1FA;
        background: #1A2A33;
        width: 90%;
    }
</style>
{% endblock %}