{% extends 'bases/P1MT.html' %}

{% block title %}
Update P1MT
{% endblock %}

{% block body %}
<main>
    <div class="form">
        <form action="/P1MT/upload" enctype="multipart/form-data" method="POST">
            <p>Update P1MT</p>
            <input class="inp" name="file" type="file"/>
            <br><input class="inp" name="key" placeholder="Write key">
            <br><input class="inp" name="version_code" placeholder="Write version code">
            <br><input class="inp" type="submit"/>
            <p style="font-size: 2em; ">{{ result }}</p>
        </form>
    </div>
</main>

<style>
    main {
        display: flex;
        flex-direction: column;
        margin: 5%;
    }

    p {
        font-size: 3em;
        color: #AF251B;
    }

    .form {
        text-align: center;
        color: #AF251B;
    }

    .inp {
        color: #2C2C2C;
        background: #AF251B;
        border: 0.3em solid #2C2C2C;
        border-radius: 8px;

        width: 18em;
        height: 4em;

        padding: 12px 12px 8px;
        margin: 10px;
    }

    ::placeholder {
        color: #2c2c2c;
        opacity: 1;
    }
</style>
{% endblock %}