{% extends 'bases/SecurePass.html' %}

{% block title %}
Update SecurePass
{% endblock %}

{% block body %}
<main>
    <div class="form">
        <p class="type title">Update SecurePass</p>
        <form action="/SecurePass/upload" enctype="multipart/form-data" method="POST">
            <input class="inp" name="file" type="file"/>
            <br><input class="inp" name="key" placeholder="Write key">
            <br><input class="inp" name="version_code" placeholder="Write version code">
            <br><input class="inp" type="submit"/>
            <p style="font-size: 1em; ">{{ result }}</p>
        </form>
    </div>
</main>

<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5% 0 5% 0;
        height: 90%;
    }

    p {
        color: #47ed87;
        font-size: 2em;
    }

    .title {
        color: #47ed87;
        width: 100%;
        align-content: center;
        text-align: center;
        margin-top: 1em;
    }

    .form {
        text-align: center;
        color: #47ed87;
        margin: auto;
    }

    .inp {
        color: #47ed87;
        background: #4d4d4d;
        border: 0.3em solid #47ed87;
        border-radius: 22px;

        width: 18em;
        height: 4em;

        margin: 0.5em 0.5em 0.5em 0.5em;
        padding: 12px 12px 8px;
    }

    ::placeholder {
        color: #47ed87;
        opacity: 1;
    }

    .type {
        display: inline-block;
        overflow: hidden;
        box-sizing: border-box;
        white-space: nowrap;
        animation: typing 2s steps(90, end), blink 2ms step-end infinite;
    }

    @keyframes typing {
        from {
            width: 0
        }
        to {
            width: 100%;
        }
    }
</style>
{% endblock %}