{% extends 'bases/p1mt_base.html' %}

{% block title %}
Update APK file
{% endblock %}

{% block body %}
<html>
<style>
    p {
        margin-left: 10px;
    }

    .elm {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        color: #C82A1E;
    }

    .inp {
        color: #2C2C2C;
        background-color: #C82A1E;
        border: 5px solid #000;
	  	border-radius: 8px;
        padding: 4px;
        padding-bottom: 8px;

        margin: 10px;
    }

    b {
        font-size: 2em;
    }


</style>
<div class="elm">
    <form action="/load" enctype="multipart/form-data"
          method="POST">
        <p><b>ONLY FOR DEV</b></p>
        <input class="inp" name="file" type="file"/>
        <br><input class="inp" name="key">
        <br><input class="inp" type="submit"/>
    </form>
</div>
</html>
{% endblock %}