{% extends 'base.html' %}

{% block title %}
    Ups, 404
{% endblock %}

{% block body %}
    <style>
        .error {
            position: absolute;
            top: 41%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);

            font-family: 'Lexend Peta', sans-serif;
            font-size: 2em;
            color: #000000;
        }

        .footer {
            font-family: 'Dancing Script', cursive;
            font-size: 3em;
            color: black;

            position: absolute;
            bottom: 0;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <section>
        <div>
            <div class="error">Something went<br>wrong, 404...</div>
        </div>
        <div>
            <div class="footer">merive_</div>
        </div>
    </section>
{% endblock %}