{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block body %}
<section>
    <h2><b>Start</b></h2>
    <p>
        Hello, I'm Max aka merive_, I'm programmer.
        <br>I write in Python, Java, HTML/CSS. Started learning C, Assembler, Bash.
        <br>I've been programming for over a year now.
        <br>I don’t remember how it all began, but I came to programming in the summer of 2019, then I
        began to study Python...
    </p>
    <h2><b>Python</b></h2>
    <p>
        I know python and its libraries (namely more than 15) for over a year.
        <br>I loved this language from the very beginning.
    </p>
    <h2><b>HTML/CSS</b></h2>
    <p>
        My acquaintance with HTML began during the study of Python and I did not like it, it was not
        clear
        to me.
        <br>Later, when I began to delve into it, I realized how easy and useful it is.
        <br>There were no problems with the CSS and I quickly studied it...
    </p>
    <h2><b>Java</b></h2>
    <p>
        I have wanted to learn Java for a long time.
        <br>I started learning this language at the beginning of 2020.
        <br>I am currently making GUI apps and Android apps.
        <br>I really like to write in this language.
    </p>
    <h2><b>Linux & Bash</b></h2>
    <p>
        I recently became familiar with Linux.
        <br>I have a very positive experience with this OS, primarily because of bash.
        <br>I really enjoy working in it.
    </p>
    <h2><b>C/Assembler</b></h2>
    <p>
        I became interested in exploits, and that's how I got to know C and Assambler.
        <br>C is easy for me as I am familiar with similar languages.
        <br>But we are not very familiar with Assembler yet.
    </p>
    <h2><b>Now</b></h2>
    <p>
        Now programming is part of my life, just a year ago I was just thinking of becoming a programmer, and now I am one.
        <br>I like what i do.
        <br>Every day I do something, study.
        <br>Programming has opened a new world for me...
    </p>
</section>
{% endblock %}