<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Changa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header class="masthead mb-auto">
    <div class='horizontal'>
        <h4>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/home">merive_</a>
                <a class="nav-link" href="/projects">My Projects</a>
                <a class="nav-link" href="/links">My Links</a>
                <a class="nav-link" href="/about">About</a>
            </nav>
        </h4>
    </div>
</header>
{% block body %}{% endblock %}
</body>
</html>