{% extends 'base.html' %}

{% block title %}
    My Links
{% endblock %}

{% block body %}
    <section>
        <div class="tit"><h1>My Links</h1></div>
        <div class='elements'>
            <figure class="element">
                <h2><a href="https://github.com/merive">My GitHub</a></h2>
                <h3>
                    In my github, I work on my designs.
                    <br>I make changes every day and try not to abandon my projects.
                    <br>You can learn more about my projects on the <a href="/projects">My Projects page</a>.
                </h3>
            </figure>
            <figure class="element">
                <h2><a href="https://twitter.com/merive_">My Twitter</a></h2>
                <h3>
                    This is my mini blog.
                    <br>In it, I tell what is happening in my life and what I do.
                    <br>I often tweet.
                </h3>
            </figure>
            <figure class="element">
                <h2><a href="https://www.reddit.com/user/merive_">My Reddit</a></h2>
                <h3>
                    This is my another blog.
                    <br>In it, I talk about projects that I am currently working on or have already done.
                    <br>So far, I rarely do posts.
                </h3>
            </figure>
        </div>
    </section>
{% endblock %}