{% extends 'base.html' %}

{% block title %}
    Projects
{% endblock %}

{% block body %}
    <style>
        a {
            color: black;
            text-decoration: none;
        }

        a:hover {
            color: #111;
            text-decoration: none;
        }

        .footer {
            font-family: 'Dancing Script', cursive;
            font-size: 3em;
            color: black;

            position: absolute;
            bottom: 0;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <section>
        <h2>
            <b>
                <a href="https://github.com/merive/AssistBOT">AssistBOT</a>
            </b>
        </h2>
        <p>
            This is my first major project.
            <br>This is a bot for discord chats.
            <br>It has many functions.
            <br>I have been working on it for a long time and am proud of this project.
        </p>

        <h2>
            <b>
                <a href="https://github.com/merive/JavaUtilites">JavaUtilities</a>
            </b>
        </h2>
        <p>
            My major project in Java.
            <br>In it, I collect my own set of utilities for different occasions.
            <br>I try to develop it as a cool idea.
        </p>

        <h2>
            <b>
                <a href="https://github.com/merive/merive.com">merive.com</a>
            </b>
        </h2>
        <p>
            This is the project you are on.
            <br>He is developing right now and will be developing with me.
            <br>This is my personal site.
            <br>On it you can get to know me better.
        </p>
    </section>
    <div>
        <div class="footer">merive_</div>
    </div>
{% endblock %}