{% extends 'base.html' %}

{% block title %}
Projects
{% endblock %}

{% block body %}
<style>
        a {
            color: black;
            text-decoration: none;
        }

        a:hover {
            color: #111;
            text-decoration: none;
        }

</style>
<section>
    <h2>
        <b>
            <a href="https://github.com/merive/AssistBOT">AssistBOT</a>
        </b>
    </h2>
    <p>
        This is my first major project.
        <br>This is a bot for discord chats.
        <br>It has many functions.
        <br>I have been working on it for a long time and am proud of this project.
    </p>

    <h2>
        <b>
            <a href="https://github.com/merive/JavaUtilites">JavaUtilities</a>
        </b>
    </h2>
    <p>
        My major project in Java.
        <br>In it, I collect my own set of utilities for different occasions.
        <br>I try to develop it as a cool idea.
    </p>

    <h2>
        <b>
            <a href="https://github.com/merive/merive.com">merive.com</a>
        </b>
    </h2>
    <p>
        This is the project you are on.
        <br>He is developing right now and will be developing with me.
        <br>This is my personal site.
        <br>On it you can get to know me better.
    </p>

    <h2>
        <b>
            <a href="/press1mtimes">Press 1M Times</a>
        </b>
    </h2>
    <p>
        Android Clicker-Game.
        <br>A simple game in which the main task is to find out what happens after a million clicks on the red button...
        <br>My first serious android app.
    </p>
</section>
{% endblock %}