{% extends 'base.html' %}

{% block title %}
Projects
{% endblock %}

{% block body %}
<section>
	<div class="mp">
		<h1>
			<u>My projects</u>
		</h1>
	</div>
	<br>
	<div class="projects">
		<figure class="project">
			<h2><a href="https://github.com/merive/AssistBOT">AssistBOT</a></h2>
			<h3>This is my first major project.<br>This is a bot for discord chats.<br>It has many functions.<br>I have been working on it for a long time and am proud of this project.</h3>
		</figure>
		<figure class="project">
			<h2><a href="https://github.com/merive/JavaUtilites">JavaUtilites</a></h2>
			<h3>My major project in Java.<br>In it, I collect my own set of utilities for different occasions.<br>I try to develop it as a cool idea.</h3>
		</figure>
		<figure class="project">
			<h2><a href="https://github.com/merive/merive.com">merive.com</a></h2>
			<h3>This is the project you are on.<br>He is developing right now and will be developing with me.<br>This is my personal site.<br>On it you can get to know me better.</h3>
		</figure>
	</div>
</section>
{% endblock %}